{% block footer %}
<div id="up-to-top" class="row">
    <div class="small-12 columns" style="text-align: right;">
      <a class="iconfont" href="#top-of-page">&#xf108;</a>
    </div><!-- /.small-12.columns -->
  </div><!-- /.row -->


  <footer id="footer-content" class="bg-grau">
    <div id="footer"> <!-- /.row -->
      <div class="row">
        <div class="medium-6 large-5 columns">
          <h5 class="shadow-black">{{ config.language.language.info_website }}</h5>

          <p class="shadow-black">
            {{ site.description }}
            <a href="{{ base_url_absolute }}/info/">{{ config.language.language.more }}</a>
          </p>
        </div><!-- /.large-6.columns -->


        <div class="small-6 medium-3 large-3 large-offset-1 columns">
          {% for service_item in config.services.services  %}
            {% if loop.first == true %}
              <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
            {% endif %}
          {% endfor %}

          <ul class="no-bullet shadow-black">
          {% for service_item in config.services.services %}
          {% if service_item.url starts with 'http' %}{% set domain = '' %}{% else %}{% set domain %}{{ base_url_absolute }}{% endset %}{% endif %}
              <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url starts with 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
              </li>
          {% endfor %}
          </ul>
      </div><!-- /.large-4.columns -->


        <div class="small-6 medium-3 large-3 columns">
          {% for network_item in config.network.network %}
            {% if loop.first == true %}
              <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
            {% endif %}
          {% endfor %}

          <ul class="no-bullet shadow-black">
            {% for network_item in config.network.network %}
            {% if network_item.url starts with 'http' %}{% set domain = '' %}{% else %}{% set domain %}{{ base_url_absolute }}{% endset %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url starts with 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

    </div><!-- /#footer -->


    <div id="subfooter">
      <nav class="row">
        <section id="subfooter-left" class="small-12 medium-6 columns credits">
         {{ site.credits }}
        </section>

        <section id="subfooter-right" class="small-12 medium-6 columns">
          <ul class="inline-list">
          {% for social_item in config.socialmedia.socialmedia %}
            <li><a href="{{ social_item.url }}" target="_blank" class="icon-button {{ social_item.rcfont_icon }}" title="{{ social_item.title }}"><i class="rcfont-{{ social_item.rcfont_icon }}"></i><span></span></a></li>
          {% endfor %}
          </ul>
        </section>
      </nav>
    </div><!-- /#subfooter -->
</footer>

{% endblock footer %}
